{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <h1> You're loggedIn</h1>
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <img src="{% static 'images/testimonials/testimonials-4.jpg' %}" alt="Profile"
                                 class="rounded-circle">
                            <h2>{{ user.username }}</h2>
                            <h4>{{ user.email }}</h4>
                            <div class="social-links mt-2">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Overview
                                    </button>
                                </li>
                                {% if type == 'Group' %}

                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-group">
                                            Group
                                        </button>
                                    </li>
                                {% endif %}

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-event">
                                        Event
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">

                                <!--Profile Overview-->
                                {% include 'profileoverview.html' %}
                                <!-- Group Tab -->
                                {% include 'grouptab.html' %}
                                <!-- end of Group Tab-->
                                {% include 'eventtab.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% else %}

        <div class="row gy-4 d-flex justify-content-end">

            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

                <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                <div class="col-md-6 offset-md-3">

                    <h1>Login</h1>
                    <br>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mt-3">
                                <input type="text" name="username" class="form-control" id="name"
                                       placeholder="User Name"
                                       required>
                            </div>
                            <br>
                            <div class="form-group mt-3">

                                <input type="password" class="form-control" name="password" id="email"
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">LogIn</button>

                    </form>

                    <a href="{% url 'register' %}">Register</a>
                </div>


            </div><!-- End Contact Form -->

        </div>
    {% endif %}

{% endblock %}