<div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <br>

                                    <h5 class="card-title">Profile Details</h5>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">First Name</div>
                                        <div class="col-lg-9 col-md-8">{{ user.first_name }} </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Last Name</div>
                                        <div class="col-lg-9 col-md-8">{{ user.last_name }}</div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Registration Type</div>
                                        <div class="col-lg-9 col-md-8">
                                            {{ type }}
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Password</div>
                                        <div class="col-lg-9 col-md-8">{{ user.password }}</div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                                    </div>
                                </div>